server:
  port: 8043
  servlet:
    context-path: /webshop
spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:db_name_test
    username: admin
    password: admin
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2
