<!DOCTYPE html>
<html lang="en">
<head>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    >
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<table>
    <tr>
        <th class="text-left">Text align left.</th>
        <th class="text-center">Text align center.</th>
        <th class="text-right">Text align right.</th>
    </tr>
    <tr>
        <td class="text-left">Text align left.</td>
        <td class="text-center">Text align center.</td>
        <td class="text-xs-right">R</td>
    </tr>
    <tr>
        <td class="text-left">Text align left.</td>
        <td class="text-center">Text align center.</td>
        <td class="text-xs-right">RRRRRRRRR</td>
    </tr>
</table>
</body>
</html>